.botao{
    width: 200px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: rgb(156, 222, 255);
    color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
    font-size: 80%;

}
 body{
    background-color:rgb(0, 0, 0); /*Muda a cor de fundo*/
    color:aliceblue; /*Muda a cor da letra*/
    justify-content: space-around; /*cia espaço igual en1*/
    margin-top: 150px ; /*define a margem do topo*/

}

img{
    width: 200px;

}



hi{
    font-size: 32px; /*altera tamanho da fonte*/

}

span{ 
    color: black;

}